<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-center">Resetar senha</h1>
        <p></p>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <fieldset>
            <fieldset class="form-group">
              <input
                formControlName="password"
                placeholder="Senha"
                class="form-control form-control-lg"
                type="password" />
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="confirmPassword"
                placeholder="Confirmar senha"
                class="form-control form-control-lg"
                type="password" />
            </fieldset>
            <button class="btn btn-lg btn-success float-right"  type="submit">
              Resetar senha
            </button>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
