<div class="container page">
  <div class="row">

    <div class="col-md-6 offset-md-3 col-xs-12">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <fieldset >
          <fieldset class="form-group">
            <input
              formControlName="name"
              placeholder="Nome"
              class="form-control form-control-lg"
              type="text"
              />
          </fieldset>
          <fieldset class="form-group">
            <input
              formControlName="email"
              placeholder="Email"
              class="form-control form-control-lg"
              type="text" />
          </fieldset>
          <fieldset class="form-group">
            <input
              formControlName="password"
              placeholder="Password"
              class="form-control form-control-lg"
              type="password" />
          </fieldset>
          <button class="btn btn-lg btn-primary float-right" type="submit">
            {{ id ? 'Atualizar' : 'Cadastrar'}} usuário
          </button>
        </fieldset>
      </form>
    </div>

  </div>
</div>
