<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-center">Esqueceu a senha?</h1>
        <p>Enter your e-mail address and we'll send you a link to reset your password.</p>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <fieldset>
            <fieldset class="form-group">
              <input
                formControlName="email"
                placeholder="Endereço de email"
                class="form-control form-control-lg"
                type="text" />
            </fieldset>
            <button class="btn btn-lg btn-success float-right"  type="submit" >
              Resetar senha
            </button>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
